---
name: <%= pkg.name %>
version: <%= pkg.version %>
---
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>grid.js{{#if title}} - {{title}}{{/if}}</title>
<link href="{{ assets }}/{{ name }}-{{ version }}.css" rel="stylesheet">
<link href="{{ assets }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="{{ assets }}/octicons/octicons.css" rel="stylesheet">
<link href="https://code.jquery.com/ui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet">
<link href="{{ assets }}/docs.css" rel="stylesheet">

<script src="{{ assets }}/vendor/jquery.min.js"></script>
</head>
<body>
{{> mainnav }}
<main class="container">
<div class="page-header">
<h1>{{title}}{{#if subtitle}} <small>&ndash; {{subtitle}}</small>{{/if}}</h1>
</div>
{{> body }}
</main>

{{> footer }}

</body>
</html>
