<footer>
  <div class="container">
  Page generated on {{now "%F %R"}} | <a href="https://github.com/openpsa/jsgrid/tree/master/{{page.src}}">View Page Source</a>
  </div>
</footer>
{{#is section "Demos"}}
      <script src="//code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
      <script src="{{ assets }}/{{ name }}-{{ version }}.js"></script>
{{/is}}
<script src="{{ assets }}/bootstrap/js/bootstrap.min.js"></script>
<script src="{{ assets }}/ui.js"></script>
{{#is section "Download"}}
      <script src="{{ assets }}/download.js"></script>
      <script src="{{ assets }}/FileSaver.js"></script>
      <script src="{{ assets }}/jszip.min.js"></script>
{{/is}}
