<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
<div class="container-fluid">
<div class="navbar-header">
<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a href="https://github.com/openpsa/grid.js" class="navbar-brand">{{package.name}}</a>
</div>

<div class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
<ul class="nav navbar-nav">
<li{{#is section "Home"}} class="active"{{/is}}>
   <a href="{{assets}}/index.html">Home</a>
</li>
<li{{#is section "Configuration"}} class="active"{{/is}}>
   <a href="{{assets}}/configuration.html">Configuration</a>
</li>

<li{{#is section "Demos"}} class="active"{{/is}}> <a href="{{assets}}/demos/index.html">Demos</a> </li>
<li{{#is section "Download"}} class="active"{{/is}}> <a href="{{assets}}/download/index.html">Download</a> </li>
</ul>
<ul class="nav navbar-nav pull-right">
<li> <a href="https://github.com/openpsa/grid.js">GitHub Repo</a> </li>
</ul>
</div>

</div>
</nav>
